.testmonial-part {
  padding-top: 35px;
}
.testmonial-part .section-title {
  line-height: 54px;
  padding: 7px 0;
}

.tetsi-inner .testi-img {
  width: 57px;
}

.patient-review {
  padding: 30px 18px;
  margin: 40px 0;
}

.tetsi-inner {
  margin: 40px 0 0;
}

.testi-content {
  margin-left: 20px;
  margin-top: 20px;
}
.testi-content h6 {
  color: #5fc7c7;
}
.testi-content p {
  padding-left: 10px;
}
