.appointment-part {
  background: linear-gradient(rgba(59, 66, 85, 0.95), rgba(59, 66, 85, 0.95)),
    url("../../../images/appontment1.jpg") no-repeat center center fixed;
  background-size: cover;
  color: rgb(59, 66, 85);
  height: 464px;
  margin: 122px 0 35px;
}

.appointment-img {
  position: absolute;
  left: 10px;
  top: -139px;
  width: 603px;
  height: 440px;
}

.appoinment-content {
  padding: 45px 0;
}
.appoinment-content h3 {
  padding: 12px 0 0;
  line-height: 62px;
}
.appoinment-content p {
  padding: 13px 16px 27px 0;
}
